# RESUME_CLASSIFICATION-GROUP-4

# TEXT CLEANING AND EDA PART

In [1]:
#find currect working directoriy
import os
os.getcwd()

'c:\\Users\\nikhi\\Desktop\\DS Project'

In [2]:
import os
import re
import nltk
import spacy
import string
import textract
import pandas as pd
import seaborn as sns
from matplotlib import pylab
from matplotlib import pyplot as plt

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

In [3]:
#change the directory
#os.chdir("C:\\Users\\Microsoft\\Desktop\\Resumes")

In [4]:
#some operation can be perform(change the directory)
#os.chdir('c:/Users/Microsoft/Desktop/Resumes')

In [5]:
os.listdir('C:/Users/nikhi/Desktop/DS Project/Resumes')

['Internship_Ravali_Musquare Technologies (1).docx',
 'Internship_Susovan Bag_Musquare Technologies.docx',
 'Peoplesoft Resumes',
 'React Js Developer Resumes',
 'SQL Developer Lightning insight',
 'Workday Resumes']

# Extract the txt from dataset

In [6]:
file_path1 = []
category1 = []
directory1 = 'C:/Users/nikhi/Desktop/DS Project/Resumes/PeopleSoft Resumes'
for i in os.listdir(directory1):
    if i.endswith('.docx'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('PeopleSoft')

In [7]:
data1 = pd.DataFrame(data = file_path1 , columns = ['Raw_Details'])
data1['Category1'] = category1
data1

                                         Raw_Details   Category1
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...  PeopleSoft
1  Classification: Internal\n\nClassification: In...  PeopleSoft
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...  PeopleSoft
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...  PeopleSoft
4  PeopleSoft Administration\n\n \n\nVivekanand S...  PeopleSoft
5  Hari Narayana \t\t              \n\n\t\n\n\n\n...  PeopleSoft
6  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...  PeopleSoft
7  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...  PeopleSoft
8  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...  PeopleSoft
9  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...  PeopleSoft

In [8]:
file_path2 = []
category2 = []
directory2 = 'C:/Users/nikhi/Desktop/DS Project/Resumes/React Js Developer Resumes'
for i in os.listdir(directory2):
    if i.endswith('.docx'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))).decode('utf-8'))
        category2.append('React JS Developer')

In [9]:
data2 = pd.DataFrame(data = file_path2 , columns = ['Raw_Details'])
data2['Category2'] = category2
data2

                                          Raw_Details           Category2
0   Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...  React JS Developer
1   HARIPRIYA BATTINA \n\nExperience as UI Develop...  React JS Developer
2   KAMALAKAR REDDY. A \n\nLinked In: https://www....  React JS Developer
3   Naveen Sadhu\n\n\n\n\n\nTitle: software develo...  React JS Developer
4   PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...  React JS Developer
5   SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...  React JS Developer
6   Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...  React JS Developer
7   Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
8   Ui-Developer/ React JS Developer \n\nNAME: KRI...  React JS Developer
9   Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...  React JS Developer
10  Venkatalakshmi Pedireddy\n\nSoftware Developer...  React JS Developer
11  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...  React JS Developer
12  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...  React JS Developer
13  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...  React JS Developer
14  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...  React JS Developer
15  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...  React JS Developer
16  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...  React JS Developer
17  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...  React JS Developer

In [10]:
file_path3 = []
category3 = []
directory3 = 'C:/Users/nikhi/Desktop/DS Project/Resumes/Workday Resumes'
for i in os.listdir(directory3):
    if i.endswith('.docx'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))).decode('utf-8'))
        category3.append('Work Day')

In [11]:
data3 = pd.DataFrame(data = file_path3 , columns = ['Raw_Details'])
data3['Category3'] = category3
data3

                                          Raw_Details Category3
0   Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...  Work Day
1   Name         : Gopi Krishna Reddy\n\n\t\t     ...  Work Day
2   G Himaja\n\n                                  ...  Work Day
3   JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...  Work Day
4   Mooraboyina Guravaiah\n\nWorkday Integration S...  Work Day
5   VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...  Work Day
6   Workday HCM  Techno functional Consultant     ...  Work Day
7   Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Work Day
8   Srikanth (WORKDAY hCM Consultant)\t           ...  Work Day
9   WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...  Work Day
10  Vinay kumar .v\nWorkday Functional Consultant\...  Work Day

In [12]:
file_path4 = []
category4 = []
directory4 = 'C:/Users/nikhi/Desktop/DS Project/Resumes/SQL Developer Lightning insight'
for i in os.listdir(directory4):
    if i.endswith('.docx'):
        os.path.join(directory4, i)
        file_path4.append((textract.process(os.path.join(directory4, i))).decode('utf-8'))
        category4.append('SQL Developer')

In [13]:
data4 = pd.DataFrame(data = file_path4 , columns = ['Raw_Details'])
data4['Category4'] = category4
data4

                                          Raw_Details      Category4
0   ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...  SQL Developer
1   Aradhana Tripathi\n\n\n\nCurrent Location: Gac...  SQL Developer
2   BUDDHA VAMSI                                  ...  SQL Developer
3   KAMBALLA PRADEEP                              ...  SQL Developer
4   Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...  SQL Developer
5   SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...  SQL Developer
6   SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...  SQL Developer
7   RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...  SQL Developer
8   resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...  SQL Developer
9   Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...  SQL Developer
10  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...  SQL Developer

# 3. Creating Dataframe

In [14]:
#resume_data = data1.append([data2, data3, data4], ignore_index = True)
#resume_data
resume_data = pd.concat([data1, data2, data3, data4], ignore_index=True)
resume_data

,Raw_Details,Category1,Category2,Category3,Category4
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN
1,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN
2,"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...",PeopleSoft,NaN,NaN,NaN
3,PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...,PeopleSoft,NaN,NaN,NaN
4,PeopleSoft Administration\n\n \n\nVivekanand S...,PeopleSoft,NaN,NaN,NaN
5,Hari Narayana \t\t \n\n\t\n\n\n\n...,PeopleSoft,NaN,NaN,NaN
6,Murali\t\t \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...,PeopleSoft,NaN,NaN,NaN
7,Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...,PeopleSoft,NaN,NaN,NaN
8,Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...,PeopleSoft,NaN,NaN,NaN
9,C O N T A C T :\n\n\n\nAddress: Manyata Tech P...,PeopleSoft,NaN,NaN,NaN
10,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,NaN,React JS Developer,NaN,NaN
11,HARIPRIYA BATTINA \n\nExperience as UI Develop...,NaN,React JS Developer,NaN,NaN
12,KAMALAKAR REDDY. A \n\nLinked In: https://www....,NaN,React JS Developer,NaN,NaN
13,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,NaN,React JS Developer,NaN,NaN
14,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,NaN,React JS Developer,NaN,NaN
15,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",NaN,React JS Developer,NaN,NaN
16,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,NaN,React JS Developer,NaN,NaN
17,Ui-Developer/ React JS Developer \n\nNAME: KRI...,NaN,React JS Developer,NaN,NaN
18,Ui-Developer/ React JS Developer \n\nNAME: KRI...,NaN,React JS Developer,NaN,NaN
19,Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...,NaN,React JS Developer,NaN,NaN
20,Venkatalakshmi Pedireddy\n\nSoftware Developer...,NaN,React JS Developer,NaN,NaN
21,KAMBALA SAI SURENDRA \n\n \n\n \n\n \n\n\n\n...,NaN,React JS Developer,NaN,NaN
22,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,NaN,React JS Developer,NaN,NaN
23,MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...,NaN,React JS Developer,NaN,NaN
24,MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...,NaN,React JS Developer,NaN,NaN
25,Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...,NaN,React JS Developer,NaN,NaN
26,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...,NaN,React JS Developer,NaN,NaN
27,SHAIK ABDUL SHARUK \n\n2 years’ Experience i...,NaN,React JS Developer,NaN,NaN
28,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,NaN,NaN,Work Day,NaN
29,Name : Gopi Krishna Reddy\n\n\t\t ...,NaN,NaN,Work Day,NaN
30,G Himaja\n\n ...,NaN,NaN,Work Day,NaN
31,JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...,NaN,NaN,Work Day,NaN
32,Mooraboyina Guravaiah\n\nWorkday Integration S...,NaN,NaN,Work Day,NaN
33,VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...,NaN,NaN,Work Day,NaN
34,Workday HCM Techno functional Consultant ...,NaN,NaN,Work Day,NaN
35,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,NaN,NaN,Work Day,NaN
36,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,Work Day,NaN
37,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,Work Day,NaN
38,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,Work Day,NaN
39,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,NaN,NaN,NaN,SQL Developer
40,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,NaN,NaN,NaN,SQL Developer
41,BUDDHA VAMSI ...,NaN,NaN,NaN,SQL Developer
42,KAMBALLA PRADEEP ...,NaN,NaN,NaN,SQL Developer
43,Resume\n\nName : Neeraj Mishra\n\n\n\nExp...,NaN,NaN,NaN,SQL Developer
44,SQL DEVELOPER\n\nName: - Bandi prem sai\n\n\...,NaN,NaN,NaN,SQL Developer
45,SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...,NaN,NaN,NaN,SQL Developer
46,RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...,NaN,NaN,NaN,SQL Developer
47,resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...,NaN,NaN,NaN,SQL Developer
48,Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...,NaN,NaN,NaN,SQL Developer
49,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,NaN,NaN,NaN,SQL Developer

In [15]:
resume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Raw_Details  50 non-null     object
 1   Category1    10 non-null     object
 2   Category2    18 non-null     object
 3   Category3    11 non-null     object
 4   Category4    11 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [16]:
#merge unnesccesary colums in one column
resume_data['category']=category1 + category2 + category3 + category4
resume_data

,Raw_Details,Category1,Category2,Category3,Category4,category
0,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
1,Classification: Internal\n\nClassification: In...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
2,"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...",PeopleSoft,NaN,NaN,NaN,PeopleSoft
3,PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
4,PeopleSoft Administration\n\n \n\nVivekanand S...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
5,Hari Narayana \t\t \n\n\t\n\n\n\n...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
6,Murali\t\t \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
7,Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
8,Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
9,C O N T A C T :\n\n\n\nAddress: Manyata Tech P...,PeopleSoft,NaN,NaN,NaN,PeopleSoft
10,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,NaN,React JS Developer,NaN,NaN,React JS Developer
11,HARIPRIYA BATTINA \n\nExperience as UI Develop...,NaN,React JS Developer,NaN,NaN,React JS Developer
12,KAMALAKAR REDDY. A \n\nLinked In: https://www....,NaN,React JS Developer,NaN,NaN,React JS Developer
13,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,NaN,React JS Developer,NaN,NaN,React JS Developer
14,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,NaN,React JS Developer,NaN,NaN,React JS Developer
15,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",NaN,React JS Developer,NaN,NaN,React JS Developer
16,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,NaN,React JS Developer,NaN,NaN,React JS Developer
17,Ui-Developer/ React JS Developer \n\nNAME: KRI...,NaN,React JS Developer,NaN,NaN,React JS Developer
18,Ui-Developer/ React JS Developer \n\nNAME: KRI...,NaN,React JS Developer,NaN,NaN,React JS Developer
19,Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...,NaN,React JS Developer,NaN,NaN,React JS Developer
20,Venkatalakshmi Pedireddy\n\nSoftware Developer...,NaN,React JS Developer,NaN,NaN,React JS Developer
21,KAMBALA SAI SURENDRA \n\n \n\n \n\n \n\n\n\n...,NaN,React JS Developer,NaN,NaN,React JS Developer
22,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,NaN,React JS Developer,NaN,NaN,React JS Developer
23,MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...,NaN,React JS Developer,NaN,NaN,React JS Developer
24,MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...,NaN,React JS Developer,NaN,NaN,React JS Developer
25,Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...,NaN,React JS Developer,NaN,NaN,React JS Developer
26,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...,NaN,React JS Developer,NaN,NaN,React JS Developer
27,SHAIK ABDUL SHARUK \n\n2 years’ Experience i...,NaN,React JS Developer,NaN,NaN,React JS Developer
28,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,NaN,NaN,Work Day,NaN,Work Day
29,Name : Gopi Krishna Reddy\n\n\t\t ...,NaN,NaN,Work Day,NaN,Work Day
30,G Himaja\n\n ...,NaN,NaN,Work Day,NaN,Work Day
31,JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...,NaN,NaN,Work Day,NaN,Work Day
32,Mooraboyina Guravaiah\n\nWorkday Integration S...,NaN,NaN,Work Day,NaN,Work Day
33,VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...,NaN,NaN,Work Day,NaN,Work Day
34,Workday HCM Techno functional Consultant ...,NaN,NaN,Work Day,NaN,Work Day
35,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,NaN,NaN,Work Day,NaN,Work Day
36,Srikanth (WORKDAY hCM Consultant)\t ...,NaN,NaN,Work Day,NaN,Work Day
37,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,NaN,NaN,Work Day,NaN,Work Day
38,Vinay kumar .v\nWorkday Functional Consultant\...,NaN,NaN,Work Day,NaN,Work Day
39,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,NaN,NaN,NaN,SQL Developer,SQL Developer
40,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,NaN,NaN,NaN,SQL Developer,SQL Developer
41,BUDDHA VAMSI ...,NaN,NaN,NaN,SQL Developer,SQL Developer
42,KAMBALLA PRADEEP ...,NaN,NaN,NaN,SQL Developer,SQL Developer
43,Resume\n\nName : Neeraj Mishra\n\n\n\nExp...,NaN,NaN,NaN,SQL Developer,SQL Developer
44,SQL DEVELOPER\n\nName: - Bandi prem sai\n\n\...,NaN,NaN,NaN,SQL Developer,SQL Developer
45,SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...,NaN,NaN,NaN,SQL Developer,SQL Developer
46,RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...,NaN,NaN,NaN,SQL Developer,SQL Developer
47,resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...,NaN,NaN,NaN,SQL Developer,SQL Developer
48,Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...,NaN,NaN,NaN,SQL Developer,SQL Developer
49,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,NaN,NaN,NaN,SQL Developer,SQL Developer

In [17]:
print(resume_data.columns)

Index(['Raw_Details', 'Category1', 'Category2', 'Category3', 'Category4',
       'category'],
      dtype='object')

In [18]:
# drop columns 
resume_data.drop([], axis=1, inplace=True)

In [19]:
# Select the desired columns
resume_data = resume_data[["category", "Raw_Details"]]

In [20]:
resume_data

              category                                        Raw_Details
0           PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1           PeopleSoft  Classification: Internal\n\nClassification: In...
2           PeopleSoft  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...
3           PeopleSoft  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...
4           PeopleSoft  PeopleSoft Administration\n\n \n\nVivekanand S...
5           PeopleSoft  Hari Narayana \t\t              \n\n\t\n\n\n\n...
6           PeopleSoft  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...
7           PeopleSoft  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...
8           PeopleSoft  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...
9           PeopleSoft  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...
10  React JS Developer  Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...
11  React JS Developer  HARIPRIYA BATTINA \n\nExperience as UI Develop...
12  React JS Developer  KAMALAKAR REDDY. A \n\nLinked In: https://www....
13  React JS Developer  Naveen Sadhu\n\n\n\n\n\nTitle: software develo...
14  React JS Developer  PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...
15  React JS Developer  SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...
16  React JS Developer  Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...
17  React JS Developer  Ui-Developer/ React JS Developer \n\nNAME: KRI...
18  React JS Developer  Ui-Developer/ React JS Developer \n\nNAME: KRI...
19  React JS Developer  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...
20  React JS Developer  Venkatalakshmi Pedireddy\n\nSoftware Developer...
21  React JS Developer  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...
22  React JS Developer  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...
23  React JS Developer  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...
24  React JS Developer  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...
25  React JS Developer  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...
26  React JS Developer  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...
27  React JS Developer  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...
28            Work Day  Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
29            Work Day  Name         : Gopi Krishna Reddy\n\n\t\t     ...
30            Work Day  G Himaja\n\n                                  ...
31            Work Day  JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...
32            Work Day  Mooraboyina Guravaiah\n\nWorkday Integration S...
33            Work Day  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...
34            Work Day  Workday HCM  Techno functional Consultant     ...
35            Work Day  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
36            Work Day  Srikanth (WORKDAY hCM Consultant)\t           ...
37            Work Day  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
38            Work Day  Vinay kumar .v\nWorkday Functional Consultant\...
39       SQL Developer  ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...
40       SQL Developer  Aradhana Tripathi\n\n\n\nCurrent Location: Gac...
41       SQL Developer  BUDDHA VAMSI                                  ...
42       SQL Developer  KAMBALLA PRADEEP                              ...
43       SQL Developer  Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...
44       SQL Developer  SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...
45       SQL Developer  SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...
46       SQL Developer  RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...
47       SQL Developer  resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...
48       SQL Developer  Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...
49       SQL Developer  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...

In [21]:
resume_data["Raw_Details"][4]

'PeopleSoft Administration\n\n \n\nVivekanand Sayana                                                                                                                                                                                                           \t\n\n\n\nCareer Objective: \n\n\n\nWith my valid expertise of 7.5 years in PeopleSoft, I hope to enhance my skill set while adding value to the business, to enable implementation of solutions, which aid the company’s objectives, understanding and anticipating the needs, interests and motivations of the clients and to deliver on time, budget and to quality, delivering value through improving agility, quality and reliability\n\n\n\nProfessional Summary:\n\n\n\nOver 7.5 years of experience in PeopleSoft implementation, Support, configuration, migrations, maintenance and administration of Application Server Domains, Process Scheduler Servers, Web Server Domains, PeopleTools Upgrades, Application Updates, PUM, SES and Elastic Search. \n\nExperience in integration activities between various\xa0PeopleSoft\xa0Financials, HRMS, EPM and FSCM environments.\xa0\n\nExtensively involved in resolving Performance issues.\n\nExperience in driving Infrastructure Hardware Upgrades, Disaster Recovery Activities.\xa0\n\nExperience in Health Check for all the PeopleSoft Environments\n\nExperience in PeopleSoft Database Refreshes from Production to Development and Testing Environments\n\nExperience in Performance and Tuning of Application Servers, Web Servers\n\nPerformed 3 full life cycle implementations in PeopleSoft.\n\nImplemented PeopleSoft Internet Architecture (PIA) on Demo, Test, Development and Production instances.\n\nExperience in PeopleSoft Implementation on PeopleTools 8.56, FSCM 9.2, Web Logic 12.2.1, Tuxedo 12.2.2 and Oracle 12c R2 on Oracle Enterprise Linux 7 and Windows 2012 R2.\n\nExperience in PeopleSoft Installations of PeopleTools 8.55, HCM 9.2, WebLogic 12.1.3,\n\nTuxedo 12.1.3 and People Books 8.55 on Oracle Enterprise Linux 6 and Windows 2012R2\n\nExperience in PeopleSoft Installations of PeopleTools 8.54, HCM 9.2, Weblogic 12.1.2, Tuxedo 12.1.0 and People books 8.54 on windows 2012 R2 and Oracle Enterprise Linux 6.\n\nExperience in PeopleSoft Installations of PeopleTools 8.53, FSCM 9.2, Weblogic 10.3.6, Tuxedo 10.3 and People Books 8.53 on windows 2008 R2 and Oracle Enterprise Linux 5.4\n\nExperience in PeopleSoft Installations of PeopleTools 8.50, HCM 9.1,Weblogic 10.3, Tuxedo 10.3, Oracle 10g R2 and People Books 8.50 on Windows Server 2003 and Oracle Enterprise Linux 5.\n\nIn depth experience on PeopleSoft Update Manager (PUM) for applying PeopleTools patches, Application Bundles on PeopleTools 8.53, 8.54 and HRMS 9.2 and FSCM 9.2 Applications, Using DPK’s to deploy PUM latest Images and DPK’s to Install, Middle tier, App Tier and PeopleTools.\n\nIn Depth Experience in Integration Broker Troubleshooting.\n\nProficiency in creation and configuration and administration of Application Server Domains, Process scheduler Domains, Web Server Domains \n\nExperience in Reconfiguration of Application Server Domains, Process Scheduler Server Domains and Web Server domains.\n\nExperience in Project Migrations using Application Designer and Data Migrations using Data Mover\n\nExperience in generating Pre-compare reports and Post Compare Reports between various environments.\n\nExperience in setting up client Work Station for developers and testers.\n\nExperience in resolving developer issues like resetting passwords, locking and unlocking user accounts.\n\nMaintain the workflow of PeopleSoft users.\n\nWorked on applying Patches, Bundles and Tax Updates using Change Assistant and PeopleSoft Update Manager (PUM)\n\nInstalling and Configuring Change Assistant to apply bundles and tax-updates.\n\nInvolved in setup configuration of Integration Broker in Financials and HCM Applications.\n\nMaintaining integrity and internal consistency of the database using DDDAUDIT, SYSAUDIT, ALTERAUDIT reports periodically.\n\nExperience in load balancing of Application server domains and Process Scheduler Servers.\n\nExperience on clearing the cache of all servers such as Application Server Domains, Web Server Domains and Process Scheduler servers on a regular basis.\n\nMonitor the log files to find out bottleneck of the status of servers\n\nExperience in Troubleshooting of Data mover while installing PeopleSoft.\n\nMaintaining and troubleshooting various servers like Application Server domains, Process Scheduler Domains and Web Server Domains\n\nExperience in Tuning of Application Server Domains, Process Scheduler Domains and Web Server Domains.\n\nStrong communication, collaboration, team building and inter-personal skills\n\nGood team player and a proven Individual contributor\n\n\n\nArea of Technical Skills:\n\n\t\t\n\n                  TECHNOLOGY\n\n                  TOOLS\n\nERP TOOLS\n\nPeople Tools 8.56/8.55/8.54/8.53/8.50,Change Assistant, Integration Broker, Application Designer, Configuration Manager, PeopleSoft Update Manager (PUM) , SES and Data Mover.\n\nAPPLICATIONS\n\nPeopleSoft HRMS/FSCM/CRM 9.0/9.1/9.2\n\nAPPLICATION SERVER\n\nTuxedo 8.1/10.3.6/12c R1/12c R2\n\nWEB SERVER\n\nWeb Logic 8.1/10.3/12c R1/12.1.3\n\nOPERATING SYSTEMS\n\nWindows Server 2012 R2/2008 R2/2003\n\nRedhat Enterprise Linux 5/6\n\nOracle Enterprise Linux 5.5/6/7\n\nDATABASE\n\nOracle 10gR2/11gR2/12cR1/12cR2\n\nEducational Qualification:\n\n\n\nMBA (HR & Marketing) from KBN College, Nagarjuna University, Vijayawada in 2011.\n\n\n\nB.Sc (Bachelor of Science) from SRR & CVR College, Nagarjuna University, Vijayawada in 2009.\n\nProfessional experience:\n\n\t\n\n\tWorked as PeopleSoft Systems Administrator in Capgemini Technology Services India Limited from Feb 2020 to Sept 2020.\n\n\tWorked as PeopleSoft Systems Administrator in Cognizant Technology Solutions India Pvt Ltd from Oct 2017 to Sept 2019.\n\n\tWorked as Associate - PeopleSoft Administrator with A&A Innovative Solutions Pvt. Ltd from Jan 2013 to Oct 2017.\n\n\t\n\nProject Experience and Achievement’s\n\n\n\nClient\t\t\t: \tDisney (Fox Entertainment) & Allegis \n\n\n\nEnvironment \t\t:\tHCM, FSCM & ELM\xa09.2, People Tools 8.56, Oracle 12c, \n\n                                                WebLogic 12.2.1, Tuxedo 12.2.2, Red Hat Enterprise Linux 6.      \n\n\n\nRole\t\t\t:           Sr. PeopleSoft Admin/PeopleSoft DBA \n\n                                                \n\nDuration                     :           Feb 2020  to Sept 2020\n\n\n\n\n\nRoles and Responsibilities:\n\n\n\nInvolved in PeopleTools upgrade from PeopleTools 8.55 to 8.57\n\nInvolved in Application update from FSCM 9.2.017 to FSCM 9.2.032\n\nStrong experience on\xa0PeopleSoft\xa0PUM server installation and troubleshooting.\n\nApplying fixes, patches and bundles for\xa0PeopleSoft\xa0FSCM92 and HRMS92 using\xa0PeopleSoft\xa0PUM.\xa0\n\nWorked intensively on performance tuning of PIA architecture based on load testing and up scaling architecture to support the expected load\n\nCreated a dedicated Integration Broker gateway as message volume was high and for easy maintenance.\xa0\n\nRedesigned and Configured High availability and load balancing for existing\xa0PeopleSoft\xa0\nInternet Architecture.\xa0\n\nResponsible for the daily maintenance and troubleshooting of complex hosted solutions\nMonitoring the day-to-day working of the system.\n\nHandled Application Management tasks like Applying Patches & Fixes.\n\nLoad balancing of Application server & Web server, Performed Database Refreshes, Imports, Exports and Backups.\n\nObject Migration between different instances involving compare reports, building objects etc. \n\nMonitoring Application servers, web servers and process scheduler errors\n\nCheck the reports for status Blocked, queued, processing, no success etc. Error Log Attached, Check the Reports Ran to Success\n\nPerform Remote call test\n\nCheck the integration broker\n\nCheck the Server Disk space, Load level, PeopleSoft ping under acceptable level\n\nStatus of Housekeeping activities (Checking and Cleaning up the logs)\n\nDaily perform Project Migrations and Data Migrations.\n\nGenerate Compare Reports between various environments.\n\nChecked and cleared cache on all servers such as Application Servers, Web Servers, and Process Scheduler Servers on a regular basis as a maintenance process.\n\nMaintain the workflow of PeopleSoft users.\n\nDownload Updates and Fixes and apply to the environments and maintain the customizations for the PeopleSoft.\n\nDownload PeopleSoft Update Image and Apply to the Applications.\n\nApplied Patches and Tax Updates.\n\nInstalled and Configured Change Assistant to apply PUM image. \n\nMaintaining integrity and internal consistency of the database using DDDAUDIT, SYSAUDIT, ALTERAUDIT reports periodically.\n\nPerformed Jolt failover and load balancing of Application Server Domains and Process Scheduler Servers Domains.\n\nInvolved in the Performance of the databases and application by creating multiple domains across the instances.\n\nMonitor the log files to find out bottleneck of the status of servers\n\nTroubleshoot of Data mover while installing PeopleSoft.\n\nTroubleshooting of Process Scheduler servers if the jobs are stacked on a Queue.\n\nMaintain and troubleshoot various servers like Application Servers, Process Scheduler Servers and Web Servers.\n\n\t Involved in doing Refreshing on PeopleSoft instances weekly twice or thrice.\n\n\tDocumenting all support issues with their resolutions and feedback.\n\n\n\n\n\nClient\t\t\t: \tInter-Continental Hotels Group\n\n\n\nEnvironment \t:\tFSCM\xa09.2, People Tools 8.56, Oracle 12c, \n\n                                                WebLogic 12.2.1, Tuxedo 12.2.2, Red Hat Enterprise Linux 6.      \n\n\n\nRole\t:           Sr. PeopleSoft Admin/PeopleSoft DBA \n\n                                                \n\nDuration                     :           Oct 2017 to Sept 2019\n\n\n\n\n\nRoles and Responsibilities:\n\n\n\nInvolved in PeopleTools upgrade from PeopleTools 8.54 to 8.55\n\nInvolved in Application update from FSCM 9.2.006 to FSCM 9.2.016\n\nStrong experience on\xa0PeopleSoft\xa0PUM server installation and troubleshooting.\n\nApplying fixes, patches and bundles for\xa0PeopleSoft\xa0FSCM92 and HRMS92 using\xa0PeopleSoft\xa0PUM.\xa0\n\nPerform Remote call test\n\nCheck the integration broker\n\nCheck the Server Disk space, Load level, PeopleSoft ping under acceptable level\n\nStatus of Housekeeping activities (Checking and Cleaning up the logs)\n\nDaily perform Project Migrations and Data Migrations.\n\nGenerate Compare Reports between various environments.\n\nChecked and cleared cache on all servers such as Application Servers, Web Servers, and Process Scheduler Servers on a regular basis as a maintenance process.\n\nMaintain the workflow of PeopleSoft users.\n\nDownload Updates and Fixes and apply to the environments and maintain the customizations for the PeopleSoft.\n\nDownload PeopleSoft Update Image and Apply to the Applications.\n\nApplied Patches and Tax Updates.\n\nInstalled and Configured Change Assistant to apply PUM image. \n\nMaintaining integrity and internal consistency of the database using DDDAUDIT, SYSAUDIT, ALTERAUDIT reports periodically.\n\nPerformed Jolt failover and load balancing of Application Server Domains and Process Scheduler Servers Domains.\n\nInvolved in the Performance of the databases and application by creating multiple domains across the instances\n\nMonitor the log files to find out bottleneck of the status of servers\n\nSetup Master/Slave load balance for pub/sub services\n\nWorked intensively on performance tuning of PIA architecture based on load testing and up scaling architecture to support the expected load\n\nCreated a dedicated Integration Broker gateway as message volume was high and for easy maintenance.\xa0\n\nRedesigned and Configured High availability and load balancing for existing\xa0PeopleSoft\xa0\nInternet Architecture.\xa0\n\nResponsible for the daily maintenance and troubleshooting of complex hosted solutions\nMonitoring the day-to-day working of the system.\n\nHandled Application Management tasks like Applying Patches & Fixes.\n\nLoad balancing of Application server & Web server, Performed Database Refreshes, Imports, Exports and Backups.\n\nObject Migration between different instances involving compare reports, building objects etc. \n\nMonitoring Application servers, web servers and process scheduler errors\n\nCheck the reports for status Blocked, queued, processing, no success etc. Error Log Attached, Check the Reports Ran to Success\n\nTroubleshoot of Data mover while installing PeopleSoft.\n\nTroubleshooting of Process Scheduler servers if the jobs are stacked on a Queue.\n\nMaintain and troubleshoot various servers like Application Servers, Process Scheduler Servers and Web Servers.\n\n\t Involved in doing Refreshing on PeopleSoft instances weekly twice or thrice.\n\n\tGenerating weekly status reports on all support issues to delivery manager\n\n\tDocumenting all support issues with their resolutions and feedback.\n\n\n\n\n\nClient\t\t\t: \tBaylor\xa0Scott and White\n\n\n\nEnvironment\t:           HRMS\xa09.2, People Tools 8.55, Oracle 12c, \n\n                                                WebLogic 12.1.2, Tuxedo 12.1.1, Red Hat Enterprise Linux 6.      \n\n                       \n\nRole\t:           Sr. PeopleSoft Admin/PeopleSoft DBA \n\n                                                \n\nDuration                     :           Jun 2013 to Oct 2017\n\n\n\nRoles and Responsibilities:\n\n\n\nStrong experience on\xa0PeopleSoft\xa0PUM server installation and troubleshooting.\n\nApplying fixes and patches bundles for\xa0PeopleSoft\xa0FSCM92 and HRMS92 using\xa0PeopleSoft\xa0PUM.\xa0\n\nSetup Master/Slave load balance for pub/sub services\n\nWorked intensively on performance tuning of PIA architecture based on load testing and up scaling architecture to support the expected load\n\nCreated a dedicated Integration Broker gateway as message volume was high and for easy maintenance.\xa0\n\nRedesigned and Configured High availability and load balancing for existing\xa0PeopleSoft\xa0\nInternet Architecture.\xa0\n\nResponsible for the daily maintenance and troubleshooting of complex hosted solutions\nMonitoring the day-to-day working of the system.\n\nHandled Application Management tasks like Applying Patches & Fixes.\n\nLoad balancing of Application server & Web server, Performed Database Refreshes, Imports, Exports and Backups.\n\nObject Migration between different instances involving compare reports, building objects etc. \n\nMonitoring Application servers, web servers and process scheduler errors\n\nCheck the reports for status Blocked, queued, processing, no success etc. Error Log Attached, Check the Reports Ran to Success\n\nPerform Remote call test\n\nCheck the integration broker\n\nCheck the Server Disk space, Load level, PeopleSoft ping under acceptable level\n\nStatus of Housekeeping activities (Checking and Cleaning up the logs)\n\nDaily perform Project Migrations and Data Migrations.\n\nGenerate Compare Reports between various environments.\n\nChecked and cleared cache on all servers such as Application Servers, Web Servers, and Process Scheduler Servers on a regular basis as a maintenance process.\n\nMaintain the workflow of PeopleSoft users.\n\nDownload Updates and Fixes and apply to the environments and maintain the customizations for the PeopleSoft.\n\nDownload PeopleSoft Update Image and Apply to the Applications.\n\nApplied Patches and Tax Updates.\n\nInstalled and Configured Change Assistant to apply PUM image.\n\nPerform setup of Integration Broker between various environments for HRMS and FSCM. \n\nMaintaining integrity and internal consistency of the database using DDDAUDIT, SYSAUDIT, ALTERAUDIT reports periodically.\n\nPerformed Jolt failover and load balancing of Application Server Domains and Process Scheduler Servers Domains.\n\nInvolved in the Performance of the databases and application by creating multiple domains across the instances\n\nMonitor the log files  to find out bottleneck of the status of servers\n\nTroubleshoot of Data mover while installing PeopleSoft.\n\nTroubleshooting of Process Scheduler servers if the jobs are stacked on a Queue.\n\nMaintain and troubleshoot various servers like Application Servers, Process Scheduler Servers and Web Servers.\n\n\t Involved in doing Refreshing on PeopleSoft instances weekly twice or thrice.\n\n\tGenerating weekly status reports on all support issues to delivery manager\n\n\tDocumenting all support issues with their resolutions and feedback.'

In [22]:
#new csv file
resume_data.to_csv('Raw_Resume.csv', index=False)

In [23]:
#understanding data
resume_data = pd.read_csv("Raw_Resume.csv")
resume_data

              category                                        Raw_Details
0           PeopleSoft  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...
1           PeopleSoft  Classification: Internal\n\nClassification: In...
2           PeopleSoft  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...
3           PeopleSoft  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...
4           PeopleSoft  PeopleSoft Administration\n\n \n\nVivekanand S...
5           PeopleSoft  Hari Narayana \t\t              \n\n\t\n\n\n\n...
6           PeopleSoft  Murali\t\t       \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...
7           PeopleSoft  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...
8           PeopleSoft  Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...
9           PeopleSoft  C O N T A C T :\n\n\n\nAddress: Manyata Tech P...
10  React JS Developer  Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...
11  React JS Developer  HARIPRIYA BATTINA \n\nExperience as UI Develop...
12  React JS Developer  KAMALAKAR REDDY. A \n\nLinked In: https://www....
13  React JS Developer  Naveen Sadhu\n\n\n\n\n\nTitle: software develo...
14  React JS Developer  PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...
15  React JS Developer  SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...
16  React JS Developer  Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...
17  React JS Developer  Ui-Developer/ React JS Developer \n\nNAME: KRI...
18  React JS Developer  Ui-Developer/ React JS Developer \n\nNAME: KRI...
19  React JS Developer  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...
20  React JS Developer  Venkatalakshmi Pedireddy\n\nSoftware Developer...
21  React JS Developer  KAMBALA SAI SURENDRA   \n\n \n\n \n\n \n\n\n\n...
22  React JS Developer  MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...
23  React JS Developer  MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...
24  React JS Developer  MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n   ...
25  React JS Developer  Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...
26  React JS Developer  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...
27  React JS Developer  SHAIK ABDUL SHARUK   \n\n2 years’ Experience i...
28            Work Day  Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
29            Work Day  Name         : Gopi Krishna Reddy\n\n\t\t     ...
30            Work Day  G Himaja\n\n                                  ...
31            Work Day  JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...
32            Work Day  Mooraboyina Guravaiah\n\nWorkday Integration S...
33            Work Day  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...
34            Work Day  Workday HCM  Techno functional Consultant     ...
35            Work Day  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
36            Work Day  Srikanth (WORKDAY hCM Consultant)\t           ...
37            Work Day  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
38            Work Day  Vinay kumar .v\nWorkday Functional Consultant\...
39       SQL Developer  ANIL KUMAR MADDUKURI  \t\t\n\nSQL & MSBI Devel...
40       SQL Developer  Aradhana Tripathi\n\n\n\nCurrent Location: Gac...
41       SQL Developer  BUDDHA VAMSI                                  ...
42       SQL Developer  KAMBALLA PRADEEP                              ...
43       SQL Developer  Resume\n\nName     :  Neeraj Mishra\n\n\n\nExp...
44       SQL Developer  SQL DEVELOPER\n\nName: -   Bandi prem sai\n\n\...
45       SQL Developer  SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...
46       SQL Developer  RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...
47       SQL Developer  resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...
48       SQL Developer  Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...
49       SQL Developer  SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...

In [24]:
resume_data[resume_data.category == 'Work Day']

    category                                        Raw_Details
28  Work Day  Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...
29  Work Day  Name         : Gopi Krishna Reddy\n\n\t\t     ...
30  Work Day  G Himaja\n\n                                  ...
31  Work Day  JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...
32  Work Day  Mooraboyina Guravaiah\n\nWorkday Integration S...
33  Work Day  VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...
34  Work Day  Workday HCM  Techno functional Consultant     ...
35  Work Day  Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
36  Work Day  Srikanth (WORKDAY hCM Consultant)\t           ...
37  Work Day  WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...
38  Work Day  Vinay kumar .v\nWorkday Functional Consultant\...

In [25]:
resume_data.isnull().sum()

category       0
Raw_Details    0
dtype: int64

In [26]:
#Number of words in each column
resume_data['Word_Count'] = resume_data['Raw_Details'].apply(lambda x: len(str(x).split(" ")))
resume_data[['Raw_Details','Word_Count']].head()

                                         Raw_Details  Word_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        1023
1  Classification: Internal\n\nClassification: In...         558
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...         455
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...         918
4  PeopleSoft Administration\n\n \n\nVivekanand S...        2585

In [27]:
#Number of characters
resume_data['Char_Count'] = resume_data['Raw_Details'].str.len() 
resume_data[['Raw_Details','Char_Count']].head()

                                         Raw_Details  Char_Count
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        8010
1  Classification: Internal\n\nClassification: In...        4917
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...        3800
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...        7943
4  PeopleSoft Administration\n\n \n\nVivekanand S...       16112

In [28]:
#Number of stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
resume_data['Stopwords'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x in stop]))
resume_data[['Raw_Details','Stopwords']].head()

                                         Raw_Details  Stopwords
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...        190
1  Classification: Internal\n\nClassification: In...        114
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...         86
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...        225
4  PeopleSoft Administration\n\n \n\nVivekanand S...        520

In [29]:
#Number of numerics
resume_data['Numerics'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
resume_data[['Raw_Details','Numerics']].head()

                                         Raw_Details  Numerics
0  Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...         4
1  Classification: Internal\n\nClassification: In...         7
2  SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...        15
3  PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...         4
4  PeopleSoft Administration\n\n \n\nVivekanand S...        17

In [30]:
resume_data

,category,Raw_Details,Word_Count,Char_Count,Stopwords,Numerics
0,PeopleSoft,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,1023,8010,190,4
1,PeopleSoft,Classification: Internal\n\nClassification: In...,558,4917,114,7
2,PeopleSoft,"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...",455,3800,86,15
3,PeopleSoft,PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...,918,7943,225,4
4,PeopleSoft,PeopleSoft Administration\n\n \n\nVivekanand S...,2585,16112,520,17
5,PeopleSoft,Hari Narayana \t\t \n\n\t\n\n\n\n...,448,3714,88,13
6,PeopleSoft,Murali\t\t \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...,433,3669,84,13
7,PeopleSoft,Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...,540,3577,136,3
8,PeopleSoft,Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...,363,2852,98,4
9,PeopleSoft,C O N T A C T :\n\n\n\nAddress: Manyata Tech P...,356,2150,42,8
10,React JS Developer,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,524,4005,138,6
11,React JS Developer,HARIPRIYA BATTINA \n\nExperience as UI Develop...,404,2669,106,6
12,React JS Developer,KAMALAKAR REDDY. A \n\nLinked In: https://www....,357,2672,48,8
13,React JS Developer,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,253,1789,58,1
14,React JS Developer,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,502,3132,86,2
15,React JS Developer,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",349,3156,93,5
16,React JS Developer,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,181,1925,34,7
17,React JS Developer,Ui-Developer/ React JS Developer \n\nNAME: KRI...,361,3700,112,2
18,React JS Developer,Ui-Developer/ React JS Developer \n\nNAME: KRI...,361,3702,112,2
19,React JS Developer,Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...,719,5527,216,2
20,React JS Developer,Venkatalakshmi Pedireddy\n\nSoftware Developer...,264,2356,43,1
21,React JS Developer,KAMBALA SAI SURENDRA \n\n \n\n \n\n \n\n\n\n...,496,3001,66,9
22,React JS Developer,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,945,2965,67,4
23,React JS Developer,MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...,945,2967,67,4
24,React JS Developer,MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...,777,3273,70,5
25,React JS Developer,Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...,194,1773,51,8
26,React JS Developer,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...,435,3299,86,4
27,React JS Developer,SHAIK ABDUL SHARUK \n\n2 years’ Experience i...,474,3111,64,9
28,Work Day,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,955,6542,216,6
29,Work Day,Name : Gopi Krishna Reddy\n\n\t\t ...,676,4705,126,1
30,Work Day,G Himaja\n\n ...,1317,5736,157,2
31,Work Day,JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...,485,4761,112,8
32,Work Day,Mooraboyina Guravaiah\n\nWorkday Integration S...,1210,6934,214,1
33,Work Day,VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...,494,4212,100,2
34,Work Day,Workday HCM Techno functional Consultant ...,1334,9183,341,7
35,Work Day,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,716,5949,161,1
36,Work Day,Srikanth (WORKDAY hCM Consultant)\t ...,1063,6737,194,9
37,Work Day,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,1076,8329,236,6
38,Work Day,Vinay kumar .v\nWorkday Functional Consultant\...,702,5126,150,2
39,SQL Developer,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,645,4433,124,3
40,SQL Developer,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,664,5161,146,6
41,SQL Developer,BUDDHA VAMSI ...,394,3070,50,10
42,SQL Developer,KAMBALLA PRADEEP ...,733,4837,160,5
43,SQL Developer,Resume\n\nName : Neeraj Mishra\n\n\n\nExp...,1105,4957,151,8
44,SQL Developer,SQL DEVELOPER\n\nName: - Bandi prem sai\n\n\...,604,4379,127,1
45,SQL Developer,SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...,553,3704,116,4
46,SQL Developer,RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...,576,4022,134,2
47,SQL Developer,resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...,733,4625,161,4
48,SQL Developer,Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...,1074,6686,194,5
49,SQL Developer,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,532,4176,138,3

# Text Preprocessing

In [31]:
# Regularprocessing
def preprocess(sentence):
    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url = re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]

    return " ".join(filtered_words)

In [32]:
resume_data = pd.read_csv('Raw_Resume.csv')
resume_data['Resume_Details'] = resume_data.Raw_Details.apply(lambda x: preprocess(x))

# clean txt resume

In [33]:
resume_data

,category,Raw_Details,Resume_Details
0,PeopleSoft,Anubhav Kumar Singh\t\t\n\n\n\nCore Competenci...,anubhav kumar singh core competencies scriptin...
1,PeopleSoft,Classification: Internal\n\nClassification: In...,classification internal classification interna...
2,PeopleSoft,"SIRAZUDDIN M\n\n\tBangalore, INDIA\t\n\n\n\n\n...",sirazuddin bangalore india sirazuddin bangalor...
3,PeopleSoft,PeopleSoft Admin\n\nVARKALA VIKAS\n\n\n\nCaree...,peoplesoft admin varkala vikas career objectiv...
4,PeopleSoft,PeopleSoft Administration\n\n \n\nVivekanand S...,peoplesoft administration vivekanand sayana ca...
5,PeopleSoft,Hari Narayana \t\t \n\n\t\n\n\n\n...,hari narayana professional summary years exper...
6,PeopleSoft,Murali\t\t \n\n\t\n\n\n\n\n\n\n\n\n\n\n\...,murali professional summary years experience p...
7,PeopleSoft,Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...,priyabrata hota career objective pursuing peop...
8,PeopleSoft,Tanna Sujatha \n\n\n\n\n\n\n\nOBJECTIVE\n\nSee...,tanna sujatha objective seeking challenging ro...
9,PeopleSoft,C O N T A C T :\n\n\n\nAddress: Manyata Tech P...,address manyata tech park nagavara bangalore l...
10,React JS Developer,Kanumuru Deepak Reddy\n\n\n\n\t\n\n\n\nCAREER ...,kanumuru deepak reddy career objective secure ...
11,React JS Developer,HARIPRIYA BATTINA \n\nExperience as UI Develop...,haripriya battina experience developer reactjs...
12,React JS Developer,KAMALAKAR REDDY. A \n\nLinked In: https://www....,kamalakar reddy linked professional summary ye...
13,React JS Developer,Naveen Sadhu\n\n\n\n\n\nTitle: software develo...,naveen sadhu title software developer location...
14,React JS Developer,PRAGNYA PATTNAIK\n\n \n\n \n\n \n\n Expertise:...,pragnya pattnaik expertise around years experi...
15,React JS Developer,"SARALA MADASU\n\nSARALA MADASU\n\n 204,Sri ge...",sarala madasu sarala madasu sri geethika prest...
16,React JS Developer,Thirupathamma Balla\n\n\n\nSUMMARY:\n\n\n\n2.8...,thirupathamma balla summary year experience re...
17,React JS Developer,Ui-Developer/ React JS Developer \n\nNAME: KRI...,developer react developer name krishna profess...
18,React JS Developer,Ui-Developer/ React JS Developer \n\nNAME: KRI...,developer react developer name krishna profess...
19,React JS Developer,Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...,kotani durga prasad objective aspirant positio...
20,React JS Developer,Venkatalakshmi Pedireddy\n\nSoftware Developer...,venkatalakshmi pedireddy software developer ex...
21,React JS Developer,KAMBALA SAI SURENDRA \n\n \n\n \n\n \n\n\n\n...,kambala sai surendra summary project basic kno...
22,React JS Developer,MAREEDU LOKESH BABU\n\nPROFESSIONAL OVERVIEW\n...,mareedu lokesh babu professional overview arou...
23,React JS Developer,MAREEDU LOKESH BABU\n\n\n\nPROFESSIONAL OVERVI...,mareedu lokesh babu professional overview arou...
24,React JS Developer,MD KHIZARUDDIN RAUF \n\n \t EXPERIENCE \n\n ...,khizaruddin rauf experience currently working ...
25,React JS Developer,Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCare...,pranish sonone career summary experience years...
26,React JS Developer,Ranga Gaganam \n\n\n\n \n\nProfessional\n\n \...,ranga gaganam professional summary professiona...
27,React JS Developer,SHAIK ABDUL SHARUK \n\n2 years’ Experience i...,shaik abdul sharuk years experience wipro care...
28,Work Day,Chinna Subbarayudu M\n\nDOB: 06th March 1994\n...,chinna subbarayudu dob march nationality india...
29,Work Day,Name : Gopi Krishna Reddy\n\n\t\t ...,name gopi krishna reddy professional summery w...
30,Work Day,G Himaja\n\n ...,himaja career objective work towards achieving...
31,Work Day,JYOTI VERMA\t\t\t\t\t\n\n\n\nPROFESSIONAL SUMM...,jyoti verma professional summary professional ...
32,Work Day,Mooraboyina Guravaiah\n\nWorkday Integration S...,mooraboyina guravaiah workday integration spec...
33,Work Day,VENKATA SAIKRISHNA\n\n Workday Consultant\n\n\...,venkata saikrishna workday consultant profssio...
34,Work Day,Workday HCM Techno functional Consultant ...,workday hcm techno functional consultant rahul...
35,Work Day,Ramesh A\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...,ramesh workday hcm consultant professional sum...
36,Work Day,Srikanth (WORKDAY hCM Consultant)\t ...,srikanth workday hcm consultant seeking suitab...
37,Work Day,WORKDAY | HCM | FCM\n\nName \t\t: Kumar S.S\n\...,workday hcm fcm name kumar role workday consul...
38,Work Day,Vinay kumar .v\nWorkday Functional Consultant\...,vinay kumar workday functional consultant expe...
39,SQL Developer,ANIL KUMAR MADDUKURI \t\t\n\nSQL & MSBI Devel...,anil kumar maddukuri sql msbi developer summar...
40,SQL Developer,Aradhana Tripathi\n\n\n\nCurrent Location: Gac...,aradhana tripathi current location gachibowli ...
41,SQL Developer,BUDDHA VAMSI ...,buddha vamsi career objective years experience...
42,SQL Developer,KAMBALLA PRADEEP ...,kamballa pradeep synopsis looking forward aspi...
43,SQL Developer,Resume\n\nName : Neeraj Mishra\n\n\n\nExp...,resume name neeraj mishra experience summary y...
44,SQL Developer,SQL DEVELOPER\n\nName: - Bandi prem sai\n\n\...,sql developer name bandi prem sai career objec...
45,SQL Developer,SQL SERVER DEVELOPER\n\n\n\n\n\nP. Syam Kumar ...,sql server developer syam kumar professional s...
46,SQL Developer,RAJU PAVANA KUMARI\n\n\n\n\t\n\n\tProfessional...,raju pavana kumari professional summary years ...
47,SQL Developer,resume\n\n\n\n\n\n\t\t\t\t\t\t\t\t\t\t\t\tRama...,resume ramalakshmi career objective profession...
48,SQL Developer,Name: Ramesh\n\n\t\n\n\tCareer Objective: \n\n...,name ramesh career objective contribute organi...
49,SQL Developer,SQL AND MSBI DEVELOPER\n\nSQL AND MSBI DEVELOP...,sql msbi developer sql msbi developer vinod ku...

In [34]:
#saving the cleaned data in new csv file
resume_data.drop(['Raw_Details'], axis = 1, inplace = True)
resume_data

              category                                     Resume_Details
0           PeopleSoft  anubhav kumar singh core competencies scriptin...
1           PeopleSoft  classification internal classification interna...
2           PeopleSoft  sirazuddin bangalore india sirazuddin bangalor...
3           PeopleSoft  peoplesoft admin varkala vikas career objectiv...
4           PeopleSoft  peoplesoft administration vivekanand sayana ca...
5           PeopleSoft  hari narayana professional summary years exper...
6           PeopleSoft  murali professional summary years experience p...
7           PeopleSoft  priyabrata hota career objective pursuing peop...
8           PeopleSoft  tanna sujatha objective seeking challenging ro...
9           PeopleSoft  address manyata tech park nagavara bangalore l...
10  React JS Developer  kanumuru deepak reddy career objective secure ...
11  React JS Developer  haripriya battina experience developer reactjs...
12  React JS Developer  kamalakar reddy linked professional summary ye...
13  React JS Developer  naveen sadhu title software developer location...
14  React JS Developer  pragnya pattnaik expertise around years experi...
15  React JS Developer  sarala madasu sarala madasu sri geethika prest...
16  React JS Developer  thirupathamma balla summary year experience re...
17  React JS Developer  developer react developer name krishna profess...
18  React JS Developer  developer react developer name krishna profess...
19  React JS Developer  kotani durga prasad objective aspirant positio...
20  React JS Developer  venkatalakshmi pedireddy software developer ex...
21  React JS Developer  kambala sai surendra summary project basic kno...
22  React JS Developer  mareedu lokesh babu professional overview arou...
23  React JS Developer  mareedu lokesh babu professional overview arou...
24  React JS Developer  khizaruddin rauf experience currently working ...
25  React JS Developer  pranish sonone career summary experience years...
26  React JS Developer  ranga gaganam professional summary professiona...
27  React JS Developer  shaik abdul sharuk years experience wipro care...
28            Work Day  chinna subbarayudu dob march nationality india...
29            Work Day  name gopi krishna reddy professional summery w...
30            Work Day  himaja career objective work towards achieving...
31            Work Day  jyoti verma professional summary professional ...
32            Work Day  mooraboyina guravaiah workday integration spec...
33            Work Day  venkata saikrishna workday consultant profssio...
34            Work Day  workday hcm techno functional consultant rahul...
35            Work Day  ramesh workday hcm consultant professional sum...
36            Work Day  srikanth workday hcm consultant seeking suitab...
37            Work Day  workday hcm fcm name kumar role workday consul...
38            Work Day  vinay kumar workday functional consultant expe...
39       SQL Developer  anil kumar maddukuri sql msbi developer summar...
40       SQL Developer  aradhana tripathi current location gachibowli ...
41       SQL Developer  buddha vamsi career objective years experience...
42       SQL Developer  kamballa pradeep synopsis looking forward aspi...
43       SQL Developer  resume name neeraj mishra experience summary y...
44       SQL Developer  sql developer name bandi prem sai career objec...
45       SQL Developer  sql server developer syam kumar professional s...
46       SQL Developer  raju pavana kumari professional summary years ...
47       SQL Developer  resume ramalakshmi career objective profession...
48       SQL Developer  name ramesh career objective contribute organi...
49       SQL Developer  sql msbi developer sql msbi developer vinod ku...

In [35]:
resume_data.to_csv('Cleaned_Resumes.csv', index = False)

In [36]:
resume_data = pd.read_csv('Cleaned_Resumes.csv')
resume_data

              category                                     Resume_Details
0           PeopleSoft  anubhav kumar singh core competencies scriptin...
1           PeopleSoft  classification internal classification interna...
2           PeopleSoft  sirazuddin bangalore india sirazuddin bangalor...
3           PeopleSoft  peoplesoft admin varkala vikas career objectiv...
4           PeopleSoft  peoplesoft administration vivekanand sayana ca...
5           PeopleSoft  hari narayana professional summary years exper...
6           PeopleSoft  murali professional summary years experience p...
7           PeopleSoft  priyabrata hota career objective pursuing peop...
8           PeopleSoft  tanna sujatha objective seeking challenging ro...
9           PeopleSoft  address manyata tech park nagavara bangalore l...
10  React JS Developer  kanumuru deepak reddy career objective secure ...
11  React JS Developer  haripriya battina experience developer reactjs...
12  React JS Developer  kamalakar reddy linked professional summary ye...
13  React JS Developer  naveen sadhu title software developer location...
14  React JS Developer  pragnya pattnaik expertise around years experi...
15  React JS Developer  sarala madasu sarala madasu sri geethika prest...
16  React JS Developer  thirupathamma balla summary year experience re...
17  React JS Developer  developer react developer name krishna profess...
18  React JS Developer  developer react developer name krishna profess...
19  React JS Developer  kotani durga prasad objective aspirant positio...
20  React JS Developer  venkatalakshmi pedireddy software developer ex...
21  React JS Developer  kambala sai surendra summary project basic kno...
22  React JS Developer  mareedu lokesh babu professional overview arou...
23  React JS Developer  mareedu lokesh babu professional overview arou...
24  React JS Developer  khizaruddin rauf experience currently working ...
25  React JS Developer  pranish sonone career summary experience years...
26  React JS Developer  ranga gaganam professional summary professiona...
27  React JS Developer  shaik abdul sharuk years experience wipro care...
28            Work Day  chinna subbarayudu dob march nationality india...
29            Work Day  name gopi krishna reddy professional summery w...
30            Work Day  himaja career objective work towards achieving...
31            Work Day  jyoti verma professional summary professional ...
32            Work Day  mooraboyina guravaiah workday integration spec...
33            Work Day  venkata saikrishna workday consultant profssio...
34            Work Day  workday hcm techno functional consultant rahul...
35            Work Day  ramesh workday hcm consultant professional sum...
36            Work Day  srikanth workday hcm consultant seeking suitab...
37            Work Day  workday hcm fcm name kumar role workday consul...
38            Work Day  vinay kumar workday functional consultant expe...
39       SQL Developer  anil kumar maddukuri sql msbi developer summar...
40       SQL Developer  aradhana tripathi current location gachibowli ...
41       SQL Developer  buddha vamsi career objective years experience...
42       SQL Developer  kamballa pradeep synopsis looking forward aspi...
43       SQL Developer  resume name neeraj mishra experience summary y...
44       SQL Developer  sql developer name bandi prem sai career objec...
45       SQL Developer  sql server developer syam kumar professional s...
46       SQL Developer  raju pavana kumari professional summary years ...
47       SQL Developer  resume ramalakshmi career objective profession...
48       SQL Developer  name ramesh career objective contribute organi...
49       SQL Developer  sql msbi developer sql msbi developer vinod ku...

In [37]:
resume_data.Resume_Details[5]

'hari narayana professional summary years experience peoplesoft application enhancement implementation data conversion support upgrade projects well experienced people tools functional knowledge hcm fscm applications skill people tools application designer application engine people code application packages peoplesoft application fscm hcm applications fscm modules procurement billing hcm modules recruiting performance management waf benefits interfaces component interface file layout languages database oracle sql server operating system windows unix education bachelor technology tech jntu currently working people soft consultant randstad hyderabad relevant experience peoplesoft consultant randstad hyderabad andhra pradesh india june till date project randstad enhancements client randstad staffing responsibilities analyze requirement documents understand customer business requirement provide technical approach fdd assign customize system applications designed many objects scratch write people code implement business logic design custom application engine programs process data design application engine programs send notifications responsible prepare unit test cases technical design documents responsible support sit uat environment people tools application designer application engine people code component interface application packages peoplesoft hcm oracle windows technical associate verizon hyderabad andhra pradesh india dec may project verizon wireless development client verizon responsibilities analyze requirement documents understand customer business requirement provide technical approach fdd assign customize system applications designed many objects scratch write people code implement business logic design custom application engine programs process data design application engine programs send notifications implemented component interface program load data people soft used file layout inbound programs responsible prepare unit test cases technical design documents responsible support sit uat environment people tools application designer application engine people code component interface application packages peoplesoft fscm oracle windows software engineer hsbc hyderabad india aug nov project hsbc upgrade project client hsbc bank responsibilities analysis understand source target system business process compare objects source targets identify changes retrofit objects based compare reports unit testing prepare unit test cases retrofit design development new modifications required customer prepared technical design documents retrofit enhancement add new text catalogues various languages responsible overseeing quality procedures related project responsible move objects development sit environment environment people tools application designer application engine people code peoplesoft hcm windows unix page page page page ciber inc rights reserved ciber inc rights reserved'

In [38]:
#NER(named entity recognization
oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords =[]
Sentences = resume_data['Resume_Details'].values
cleanedSentences = ""
for records in Sentences:
    cleanedText = preprocess(records)
    cleanedSentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
    
wordfreqdist = nltk.FreqDist(totalWords)
mostcommon = wordfreqdist.most_common(50)
print(mostcommon)

[('experience', 330), ('using', 248), ('workday', 232), ('sql', 211), ('application', 208), ('server', 188), ('project', 183), ('data', 179), ('reports', 170), ('peoplesoft', 169), ('business', 165), ('web', 144), ('react', 132), ('process', 123), ('knowledge', 112), ('system', 111), ('skills', 110), ('client', 105), ('tools', 102), ('working', 101), ('involved', 99), ('database', 99), ('various', 97), ('creating', 97), ('hcm', 94), ('support', 94), ('like', 94), ('developer', 94), ('worked', 93), ('integrations', 92), ('development', 91), ('good', 89), ('technical', 87), ('servers', 86), ('services', 85), ('integration', 84), ('report', 83), ('people', 81), ('created', 80), ('design', 78), ('used', 77), ('html', 77), ('role', 74), ('team', 74), ('responsibilities', 72), ('studio', 71), ('eib', 71), ('work', 70), ('professional', 68), ('security', 68)]

In [39]:
# !python -m spacy download en_core_web_lg

In [40]:
# #parts of speech tagging
# nlp = spacy.load('en_core_web_lg')

# one_block = cleanedSentences[1300:5200]
# doc_block = nlp(one_block)
# spacy.displacy.render(doc_block, style= 'ent', jupyter= True)

In [41]:
# for token in doc_block[:30]:
#     print(token,token.pos_)

In [42]:
# #filtering out only nouns and verbs from txt tokens
# one_block = cleanedSentences
# doc_block = nlp(one_block)
# nouns_verbs = [token.text for token in doc_block if token.pos_ in ('NOUN','VERB')]
# print(nouns_verbs[:250])

In [43]:
# #collecting all the nouns and verbs oresent in the tokens of words
# cv = CountVectorizer()
# X = cv.fit_transform(nouns_verbs)
# sum_words = X.sum(axis=0)

# words_freq = [(word,sum_words[0,idx]) for word, idx in cv.vocabulary_.items()]
# words_freq = sorted(words_freq, key=lambda x: x[1], reverse=True)

# wd_df = pd.DataFrame(words_freq)
# wd_df.columns = ['Words','Count']
# wd_df[0:15]

In [44]:
import os
import spacy
import docx2txt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab

from textblob import TextBlob
from nltk.corpus import stopwords
from wordcloud import WordCloud, STOPWORDS
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

In [45]:
import os

folder_paths = [
    # "C:\\Users\\Microsoft\\Desktop\\Resumes\\JS react developer",
    # "C:\\Users\\Microsoft\\Desktop\\Resumes\\Work Day",
    # "C:\\Users\\Microsoft\\Desktop\\Resumes\\PeopleSoft",
    # "C:\\Users\\Microsoft\\Desktop\\Resumes\\SQL Developer"
    'C:/Users/nikhi/Desktop/DS Project/Resumes/PeopleSoft Resumes'
    'C:/Users/nikhi/Desktop/DS Project/Resumes/React Js Developer Resumes'
    'C:/Users/nikhi/Desktop/DS Project/Resumes/Workday Resumes'
    'C:/Users/nikhi/Desktop/DS Project/Resumes/SQL Developer Lightning insight'
]

docx_file = []
doc_file = []
pdf_file = []

for folder_path in folder_paths:
     for file in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file)
        if file.endswith('.docx'):
            docx_file.append(file)
        elif file.endswith('.doc'):
            doc_file.append(file)
        elif file.endswith('.pdf'):
            pdf_file.append(file)

print("Total Number of Files = ", len(docx_file) + len(doc_file) + len(pdf_file))
print("Docx files: ", len(docx_file))
print("Doc files: ", len(doc_file))
print("Pdf files: ", len(pdf_file))

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'C:/Users/nikhi/Desktop/DS Project/Resumes/PeopleSoft ResumesC:/Users/nikhi/Desktop/DS Project/Resumes/React Js Developer ResumesC:/Users/nikhi/Desktop/DS Project/Resumes/Workday ResumesC:/Users/nikhi/Desktop/DS Project/Resumes/SQL Developer Lightning insight'

In [ ]:
rcParams = {'xtick.labelsize':'14','ytick.labelsize':'14','axes.labelsize':'16'}

In [ ]:
# Create the bar plot
fig, axe = plt.subplots(1,1, figsize=(9,6), dpi=100)
ax = sns.barplot(x=['.docx File','.doc File','.pdf File'], y= [len(docx_file),len(doc_file),len(pdf_file)], width=0.5, ax = axe, label= 'Total Resumes = {}'.format(len(docx_file)+len(doc_file)+len(pdf_file)))
# Set plot labels and title
axe.set_xlabel('Extensions', size=16,fontweight = 'bold')
axe.set_ylabel('Frequency', size=16,fontweight = 'bold')
plt.legend(loc='best', fontsize= 'large')
plt.title('Type of Files in Resumes', fontsize= 18, fontweight= 'bold')

# Add annotations to the bars
for i in ax.containers:
    ax.bar_label(i,color = 'black', fontweight = 'bold', fontsize= 12)

# Update plot settings
pylab.rcParams.update(rcParams)
fig.tight_layout()

# Show and save the plot
plt.show()
fig.savefig('IMG\File_Type_Bar.png', dpi = 500)

In [ ]:
fig = plt.figure(figsize=(8,8), dpi=100)

sizes = [len(docx_file), len(doc_file), len(pdf_file)]
labels = ['.docx Files', '.doc Files', '.pdf Files']
colors = ['#F9D759', '#03DCF6', '#F93D43']
explode = (0.00, 0.00, 0.01)

plt.pie(sizes, colors=colors, labels=labels, autopct='%1.0f%%', pctdistance=0.85, explode=explode, startangle=0, textprops={'size': 'large', 'fontweight': 'bold'})

centre_circle = plt.Circle((0, 0), 0.60, fc='w')
fig.gca().add_artist(centre_circle)

plt.title('Percentage of Extensions in Resumes', fontsize=18, fontweight='bold')
plt.legend(labels, loc="upper right", 
           bbox_to_anchor=(1.3, 1))

rcParams = {'xtick.labelsize': '14', 'ytick.labelsize': '14', 'axes.labelsize': '16'}
pylab.rcParams.update(rcParams)

fig.tight_layout()
plt.show()
fig.savefig('IMG\Per_File_Pie.png', dpi=500)

In [ ]:
resume_data = pd.read_csv('C:/Users/Microsoft/Downloads/Resume...csv')

In [ ]:
resume_data.head()

In [ ]:
resume_data.Category.value_counts().index

In [ ]:
resume_data.Category.value_counts()

In [ ]:
#NUMBER OF TOTAL RESUMES
fig = plt.figure(figsize=(6,6))

sizes = resume_data.Category.value_counts()
labels = resume_data.Category.value_counts().index
colors = ['#03F6E4', '#0380F6', '#C603F6', '#F65B03'] #, '#4dc0b5', '#03F6E4', '#0380F6', '#C603F6', '#E8C110'
explode = (0.01, 0.01, 0.01, 0.01)

plt.pie(sizes, colors= colors, labels= labels, autopct= lambda x:'{:.0f}'.format(x*sizes.sum()/100),
        pctdistance= 0.85, explode= explode, startangle=0, textprops= {'size':'large', 'fontweight':'bold'})

centre_circle = plt.Circle((0,0), 0.60, fc='white')
fig.gca().add_artist(centre_circle)
plt.title('Number of Profiles/Category in Resumes', fontsize= 18, fontweight= 'bold')
plt.legend(labels, loc="center")

pylab.rcParams.update(rcParams)
fig.tight_layout()
plt.show()
fig.savefig('IMG/No_Resume_Pai', dpi = 500)

In [ ]:
fig, axe = plt.subplots(1,1, figsize=(6,4), dpi=200)
ax = sns.barplot(x= resume_data.Category.value_counts().index, y= resume_data.Category.value_counts(), width=0.5,
                 data= resume_data, ax= axe, label= 'Total Pofile Category : {}'.format(len(resume_data.Category.unique())))

axe.set_xlabel('Category', size=16,fontweight = 'bold')
axe.set_ylabel('Frequency', size=16,fontweight = 'bold')
plt.xticks(rotation = 0)
plt.legend(loc='best', fontsize= 'x-large')
plt.title('Number of Profiles in Resumes', fontsize= 20, fontweight= 'bold')

for i in ax.containers:
    ax.bar_label(i,color = 'black', fontweight = 'bold', fontsize= 12)
    
pylab.rcParams.update(rcParams)
fig.tight_layout()
plt.show()
fig.savefig('IMG/No_Resume_Bar', dpi = 500)

In [ ]:
#Percentage of Profiles Category
fig = plt.figure(figsize=(8,8),dpi=100) 

sizes = resume_data.Category.value_counts()
labels = resume_data.Category.value_counts().index
colors = ['#F65B03', '#F2F603', '#C603F6', '#03F68B']
explode = (0.01, 0.01, 0.01, 0.01)

plt.pie(sizes, colors= colors, labels= labels, autopct= '%1.0f%%', pctdistance=0.85, explode= explode, 
        startangle= 0, textprops= {'size':'large', 'fontweight':'bold', 'color':'black'})

centre_circle = plt.Circle((0,0), 0.60, fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)
plt.title('Percentage of Category in Resumes', fontsize= 18, fontweight= 'bold')
plt.legend(labels, loc="center")
pylab.rcParams.update(rcParams)
fig.tight_layout()
plt.show()
fig.savefig('IMG/Per_Cat_Pai', dpi = 500)

In [ ]:
#READING A RESUME FILE 
def extract_text_from_docx(docx_path):
    txt = docx2txt.process(docx_path)
    if txt:
        return txt.replace('\t', ' ')
    return None
 
print(extract_text_from_docx('C:/Users/Microsoft/Desktop/Resumes/JS react developer/React JS Developer_M Lokesh.docx'))

In [ ]:
#DATA EXPLORATION

In [ ]:
#N-grams
#N-grams analyses are often used to see which words often show up together.

In [ ]:
from textblob import TextBlob
TextBlob(resume_data['Resume_Details'][1]).ngrams(1)[:20]

In [ ]:
TextBlob(resume_data['Resume_Details'][1]).ngrams(2)[:20]

In [ ]:
TextBlob(resume_data['Resume_Details'][1]).ngrams(3)[:20]

In [ ]:
resume_data['Resume_Details']

#Top 20 most used words in Resumes

Using CountVectorizer

In [ ]:
countvec = CountVectorizer(stop_words=stopwords.words('english'), ngram_range=(1,2))
ngrams = countvec.fit_transform(resume_data['Resume_Details']) # matrix of ngrams
count_values = ngrams.toarray().sum(axis=0) # count frequency of ngrams

vocab = countvec.vocabulary_ # list of ngrams
df_ngram = pd.DataFrame(sorted([(count_values[i],k) for k, i in vocab.items()],
                               reverse=True)).rename(columns={0: 'Frequency', 1:'Unigram_Bigram'})

In [ ]:
df_ngram.head(20)

In [ ]:
fig, axe = plt.subplots(1,1, figsize=(12,6), dpi=200)
ax = sns.barplot(x=df_ngram['Unigram_Bigram'].head(25), y=df_ngram.Frequency.head(25), data=resume_data, ax = axe,
            label='Total Pofile Category : {}'.format(len(resume_data.Category.unique())))

axe.set_xlabel('Words', size=16,fontweight= 'bold')
axe.set_ylabel('Frequency', size=16, fontweight= 'bold')
plt.xticks(rotation = 90)
plt.legend(loc='best', fontsize= 'x-large')
plt.title('Top 25 Most used Words in Resumes', fontsize= 18, fontweight= 'bold')

for i in ax.containers:
    ax.bar_label(i,color = 'black', fontweight = 'bold', fontsize= 12)

pylab.rcParams.update(rcParams)
fig.tight_layout()
plt.show()
fig.savefig('IMG/Top_Words_Bar', dpi = 500)

In [ ]:
#Visuvalizing the result of top 20 nouns and verbs most frequently
fig, ax = plt.subplots(1,1, figsize=(10,7), dpi=200)
sns.barplot(x= wd_df['Count'].head(20), y= wd_df.Words.head(20), data= wd_df, ax = ax, 
            label= 'Total Profile Category : {}'.format(len(resume_data['Category'].unique())))
ax.set_xlabel('Frequency', size=16, fontweight= 'bold')
ax.set_ylabel('Words', size=16, fontweight= 'bold')
plt.xticks(rotation = 0)
plt.legend(loc='best', fontsize= 'x-large')
plt.title('Top 25 Most used Nouns and Verbs in Resumes', fontsize= 18, fontweight= 'bold')
for i in ax.containers:
    ax.bar_label(i, color = 'black', fontweight = 'bold', fontsize= 12)
fig.tight_layout()
plt.show()

import os

# Crear el directorio 'IMG' si no existe
if not os.path.exists('IMG'):
    os.makedirs('IMG')

# Guardar la imagen
fig.savefig('IMG/Top_Nouns_Verbs_Bar.png', dpi=500)

In [ ]:
text = " ".join(cat for cat in wd_df.Words) # Creating the text variable

word_cloud = WordCloud(width=1000, height=800, random_state=10, background_color="black", 
                       colormap="Pastel1", collocations=False, stopwords=STOPWORDS).generate(text)

plt.figure(figsize=(10,7), dpi=800) # Display the generated Word Cloud
plt.title('Most used Nouns and Verbs in Resumes', fontsize= 15, fontweight= 'bold')
plt.imshow(word_cloud)
plt.axis("off")

word_cloud.to_file('IMG/Word_Clowds_Noun_Verb.png')
plt.show()

In [ ]:
#USING THE WORD CLOUDS

In [ ]:
text = " ".join(cat for cat in resume_data.Resume_Details) # Creating the text variable

word_cloud = WordCloud(width=1000, height=800, random_state=10, background_color="black", 
                       colormap="Pastel1", collocations=False, stopwords=STOPWORDS).generate(text)

plt.figure(figsize=(10,8), dpi=500) # Display the generated Word Cloud
plt.title('Most Common Words in Resumes', fontsize= 16, fontweight= 'bold')
plt.imshow(word_cloud)
plt.axis("off")

word_cloud.to_file('IMG/Word_Clowds.png')
plt.show()

In [ ]:
#DATA PREPROCESSING

In [ ]:
#LABEL ENCODER
from sklearn.preprocessing import LabelEncoder
Encoder=LabelEncoder()
resume_data["LebelEncoding"]=Encoder.fit_transform(resume_data ["Category"])

resume_data

In [ ]:
resume_data.describe()

In [ ]:
resume_data.isnull().sum()

In [ ]:
#MODEL BUILDING

In [ ]:
#TRAIN-TEST-SPLIT
x = resume_data['Resume_Details'].values
y = resume_data['Category'].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=45, test_size=0.2)
x_train.shape, x_test.shape

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#TF-IDF Vectorization
tfidf_vector = TfidfVectorizer(sublinear_tf=True,stop_words='english')
x_train = tfidf_vector.fit_transform(x_train)
x_test = tfidf_vector.transform(x_test)
x_train.shape, x_test.shape

In [ ]:
print(y_train),print(y_test)

In [ ]:
#CLASSIFICATION MODEL

In [ ]:
#KNN Classifier

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, recall_score, f1_score

In [ ]:
# Train KNN model
model_knn = KNeighborsClassifier(n_neighbors=41)
model_knn.fit(x_train, y_train)

In [ ]:
# Predict on test set
# Predict on test set
y_pred = model_knn.predict(x_test)

# Evaluate model
print("Training Accuracy:", round(model_knn.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_knn.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_knn = precision_score(y_test, y_pred, average='macro')
recall_knn = recall_score(y_test, y_pred, average='macro')
f1_knn = f1_score(y_test, y_pred, average='macro')
accuracy_knn = accuracy_score(y_test, y_pred)

In [ ]:
print("Precision:", round(precision_knn, 2))
print("Recall:", round(recall_knn, 2))
print("F1 Score:", round(f1_knn, 2))
print("Accuracy:", round(accuracy_knn, 2))

In [ ]:
#DECISION TREE

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Train Decision Tree model
model_DT = DecisionTreeClassifier(criterion='gini')
model_DT.fit(x_train, y_train)

In [ ]:
# Predict on test set
y_pred = model_DT.predict(x_test)
accuracy_DT = accuracy_score(y_test, model_DT.predict(x_test))
# Evaluate model
print("Training Accuracy:", round(model_DT.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_DT.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_DT= precision_score(y_test, y_pred, average='macro')
recall_DT = recall_score(y_test, y_pred, average='macro')
f1_DT = f1_score(y_test, y_pred, average='macro')
accuracy_DT = accuracy_score(y_test, y_pred)

In [ ]:
# Calculate metrics
print("Precision:", round(precision_score(y_test, y_pred, average='macro'), 2))
print("Recall:", round(recall_score(y_test, y_pred, average='macro'), 2))
print("F1 Score:", round(f1_score(y_test, y_pred, average='macro'), 2))
print("Accuracy:", round(accuracy_score(y_test, y_pred), 2))

In [ ]:
#Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Train Random Forest model
model_RF = RandomForestClassifier(n_estimators=200)
model_RF.fit(x_train, y_train)

In [ ]:
# Evaluate model
accuracy_RF = accuracy_score(y_test, model_RF.predict(x_test))
print("Training Accuracy:", round(model_RF.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_RF.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_RF = precision_score(y_test, y_pred, average='macro')
recall_RF= recall_score(y_test, y_pred, average='macro')
f1_RF = f1_score(y_test, y_pred, average='macro')
accuracy_RF= accuracy_score(y_test, y_pred)

In [ ]:
# Print metrics
print("Precision:", round(precision_score(y_test, y_pred, average='macro'), 2))
print("Recall:", round(recall_score(y_test, y_pred, average='macro'), 2))
print("F1 Score:", round(f1_score(y_test, y_pred, average='macro'), 2))

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Confusion Matrix
nb_cm = confusion_matrix(y_test, y_pred)

# Visualize Confusion Matrix
plt.figure(figsize=(4, 2))
sns.heatmap(nb_cm, annot=True, cmap='Blues')
plt.xlabel('Predicted labels')
plt.ylabel('True labels')
plt.title('Confusion Matrix')
plt.show()

In [ ]:
#Support Vectore Machine (SVM) Classifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
# Train SVM model
model_svm = SVC()
model_svm.fit(x_train, y_train)

In [ ]:
# Predict on test set
y_pred = model_svm.predict(x_test)

In [ ]:
#Evaluate model
accuracy_svm = accuracy_score(y_test, model_svm.predict(x_test))
print("Training Accuracy:", round(model_svm.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_svm.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n",confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_svm = precision_score(y_test, y_pred, average='macro')
recall_svm = recall_score(y_test, y_pred, average='macro')
f1_svm = f1_score(y_test, y_pred, average='macro')
accuracy_svm = accuracy_score(y_test, y_pred)

In [ ]:
# Print metrics
print("Precision:", round(precision_score(y_test, y_pred, average='macro'), 2))
print("Recall:", round(recall_score(y_test, y_pred, average='macro'), 2))
print("F1 Score:", round(f1_score(y_test, y_pred, average='macro'), 2))

In [ ]:
#Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# Train Logistic Regression model
model_lgr = LogisticRegression()
model_lgr.fit(x_train, y_train)

In [ ]:
# Predict on test set
y_pred = model_lgr.predict(x_test)

In [ ]:
# Evaluate model
accuracy_lgr = accuracy_score(y_test, model_lgr.predict(x_test))
print("Training Accuracy:", round(model_lgr.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_lgr.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_lgr = precision_score(y_test, y_pred, average='macro')
recall_lgr = recall_score(y_test, y_pred, average='macro')
f1_lgr = f1_score(y_test, y_pred, average='macro')
accuracy_lgr = accuracy_score(y_test, y_pred)

In [ ]:
# Print metrics
print("Precision:", round(precision_score(y_test, y_pred, average='macro'), 2))
print("Recall:", round(recall_score(y_test, y_pred, average='macro'), 2))
print("F1 Score:", round(f1_score(y_test, y_pred, average='macro'), 2))

In [ ]:
#Naive Bayes Classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
# Train Naive Bayes model
model_NB = MultinomialNB()
model_NB.fit(x_train, y_train)

In [ ]:
# Predict on test set
y_pred = model_NB.predict(x_test)

In [ ]:
# Evaluate model
accuracy_NB = accuracy_score(y_test, model_NB.predict(x_test))
print("Training Accuracy:", round(model_NB.score(x_train, y_train), 2))
print("Test Accuracy:", round(model_NB.score(x_test, y_test), 2))

In [ ]:
print("Classification Report:\n", classification_report(y_test, y_pred))

In [ ]:
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
# Calculate metrics
precision_NB = precision_score(y_test, y_pred, average='macro')
recall_NB = recall_score(y_test, y_pred, average='macro')
f1_NB = f1_score(y_test, y_pred, average='macro')
accuracy_NB = accuracy_score(y_test, y_pred)

In [ ]:
# Print metrics
print("Precision:", round(precision_score(y_test, y_pred, average='macro'), 2))
print("Recall:", round(recall_score(y_test, y_pred, average='macro'), 2))
print("F1 Score:", round(f1_score(y_test, y_pred, average='macro'), 2))

In [ ]:
Evaluation = {
    "Models": ["KNN Classifier", "Decision Tree Classifier", "Random Forest Classifier", "SVM Classifier", "Logistic Regression", "Naive Bayes Classifier"],
    "Train Accuracy (%)": [model_knn.score(x_train, y_train)*100, model_DT.score(x_train, y_train)*100, model_RF.score(x_train, y_train)*100, model_svm.score(x_train, y_train)*100, model_lgr.score(x_train, y_train)*100, model_NB.score(x_train, y_train)*100],
    "Test Accuracy (%)": [accuracy_knn*100, accuracy_DT*100, accuracy_RF*100, accuracy_svm*100, accuracy_lgr*100, accuracy_NB*100],
    "Precision (%)": [precision_knn*100, precision_DT*100, precision_RF*100, precision_svm*100, precision_lgr*100, precision_NB*100],
    "Recall (%)": [recall_knn*100, recall_DT*100, recall_RF*100, recall_svm*100, recall_lgr*100, recall_NB*100],
    "F1-Score (%)": [f1_knn*100, f1_DT*100, f1_RF*100, f1_svm*100, f1_lgr*100, f1_NB*100]
}

table = pd.DataFrame(Evaluation)
table

# Model Deployment

# Pickle File

In [ ]:
import pickle
filename = 'modelDT.pkl'
pickle.dump(model_DT,open(filename,'wb'))

In [ ]:
import pickle
filename = 'vector.pkl'
pickle.dump(tfidf_vector,open(filename,'wb'))